.text-input {
    width: 40%;
    min-width: 300px;
}

.order-create-simple-form-wrap {

}

.order-create-simple-form-wrap > :first-of-type {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}


.order-create-form-box-wrap {
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    flex: 1.5;
}

.order-create-aside {
    flex: 1;
}

.order-create-form-box-item {
    width: 100%;
}
.order-create-form-box-item.layer-1 {
    /*border-bottom: 1px solid lightgray;*/
    width: 75%;
}

.order-create-form-box-item.layer-2 {
    width: 100%;

}
.room-box {
    overflow-y: scroll;
    height: auto;
}
.room-box-on-click {
    min-height: 32rem;
}
.room-card {
    background: #dfe6e9 !important;

    margin: 20px 0;
    min-height: 12rem;
    height: auto;
    border-radius: 10px!important;
    border-bottom: 1px solid lightgray;
    overflow: unset!important;
    padding-bottom: 10px;
}

.room-card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.room-card .top .close {
    cursor: pointer;
}

.room-card .middle {
    margin-top: 10px;
    margin-left: 30px;
    width: 60%;
}

.room-card .middle .middle-1 {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.room-card .middle .middle-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.room-card .middle .material-select {
    width: 100%;

    /*border: 1px solid black;*/
}

.room-card .middle .title {
    margin-left: 15px;
    white-space: nowrap;
    /*border: 1px solid black;*/
}

.room-card .bottom {
    margin-top: 20px;
    margin-left: 0;
    padding: 0 30px 0 5px;
}

/*.room-card .bottom .material-item {*/
/*    background: rgb(237, 247, 237);*/
/*    border-radius: 6px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

.room-card .bottom .material-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.room-card .bottom .accessory-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.stage-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.stage-ball.ordered {
    background: #ff9a9e;
}

.stage-ball.preparing {
    background: #fee140;
}

.stage-ball.delivered {
    background: #a1c4fd;
}

.stage-ball.assembling {
    background: #1abc9c;
}

.stage-ball.completed {
    background: #bdc3c7;
}



.order-show-status-ball {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -30px;
    bottom: 6px;
    border-radius: 50%;
    background: black;
}

.order-show-status-ball.ordered {
    background: #ff9a9e;
}

.order-show-status-ball.preparing {
    background: #fee140;
}

.order-show-status-ball.delivered {
    background: #a1c4fd;
}

.order-show-status-ball.assembling {
    background: #1abc9c;
}

.order-show-status-ball.completed {
    background: #bdc3c7;
}


.order-show-note-area {

}

.order-show-note-area .content-area {
    width: 100%;
    background-color: rgb(237, 243, 240);
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-bottom: 8px;
}

.order-show-note-area .img-area {
    width: 300px;
    height: 300px;
    background-color: rgb(237, 243, 240);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin-bottom: 8px;
}

.order-show-note-area .img-area img {
    width: 100%!important;
    height: 100%!important;
}